<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        * { font-family: 'Poppins', sans-serif; }
        .card {
            border: 1px solid #C4C4C4;
            padding: 1rem;
            max-width: 900px;
            box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
        }
        .title { color: #081F4A; }
        .button {
            background: #081F4A;
            color: #FFF;
            padding: 0.5rem 1rem;
            margin: 0 auto;
        }
        .footer {
            width: 100%;
            background: #081F4A;
            color: #FFF;
            padding: 0.5rem 1rem;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="title">
            <h2>Verify your email</h2>
        </div>

        <strong>Hello there.</strong>

        <div>
            <p>Your email address has been registered with The Team. To validate your account and activate your ability to send email campaigns, please complete your profile by clicking the link below: web browser.</p>

            <a href={{instance.link}} class="button">Verify email</a>

            <p>If you did not associate your address with a Sendinblue account, please ignore this message and do not click on the link above.</p>
            <p>If you experience any issues with the button above, copy and paste the URL below into your web browser.</p>

            <a href={{instance.link}}>{{instance.link}}</a>
        </div>
        <div class="footer">
            The Team
            Lagos, Nigeria.
            100261 Lagos
        </div>

        <small>This email was sent to {{instance.email}}</small>
    </div>
</body>
</html>